.nav{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  overflow: hidden;
  background-color: white;
}
.header li{
  float : left;
  margin: 0;
  padding: 0;
  display: block;
  padding: 4px;
  top: fixed;
  font-family: "https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap";
  font-size: 40px;
  color : white;
}
.header li a:hover {
  background-color: #111;
}

#intro{
  background-image: url("/home/algorithm/Desktop/pizza-inn/pizza.png");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-attachment: fixed;

}
#intro h1{
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap";
  font-size: 100px;
}
#intro p{
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "https://fonts.googleapis.com/css?family=Lato|Lobster&display=swap";
  font-size: 40px;
}
#intro button{
  align-items:center;
}
